<!DOCTYPE html>
<html lang="en" data-theme="pastel">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Shop</title>
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/imgs/favicon-32x32.png"
    />
    <link href="/css/output.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <style>
      .upload-prompt {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 150px;
      }
      .preview-container img {
        max-height: 150px;
        object-fit: contain;
      }
    </style>
  </head>
  <body>
    <header class="mx-auto max-w-5xl">
      <div class="text-center">
        <h1 class=""><a href="/profile" class="text-2xl font-bold">The Shop</a></h1>
        <span class="text-xl">Effortlessly manage your collectible collection with AI-powered tools designed just for serious collectors.</span>
      </div>
    </header>
  </body>
</html>
